.albumInfo-card {
  margin-top: 10px;
  width: 20vw;
}

.albumName-container {
  width: 100%;
  overflow: hidden;
}

.currTrackName {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0px;
}

.artistName {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin: 0px;
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 12s linear infinite;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
