.album-img{
    width: 20vw;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 0 8px 10px -2px rgb(85, 85, 85);}

